{% load l10n %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div>
        <strong>{{ message|safe}}</strong>
    </div>
    {% endfor %}
{% endif %}
    <div>
        <div>
            <p>Artist :{{artist_name}}</p>
            <p>Total  Amount : {{total_amount}}</p>
            <p>Total Downloads: {{total_downloads}}</p>
        </div>
    </div>
    <table class="responsive-table" >
        <thead>
          <tr>
              <th>Artists</th>
              <th>Song title</th>
              <th>Downloads</th>
              <th>Rate</th>
              <th>Total</th>
              <th>Month</th>
              <th>Year</th>
              <th>Company</th>
            </tr>
          </thead>
          {% for song in songs %}
        <tbody>
          <tr>
            <td>{{song.artist}}</td>
            <td>{{song.song}}</td>
            <td>{{song.downloads}}</td>
            <td>{{song.price}}</td>
            <td>{{song.total_amount}}</td>
            <td>{{song.month}}</td>
            <td>{{song.year|unlocalize}}</td>
            <td>{{song.company}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    
{% endblock %}