{% extends 'base_layout.html'%}
{% load l10n %}
{% block content %}
<div>
  <a href="{% url 'artists_details'%}">Back</a>
  <p>Total_amount : {{total_amount}}</p>
  <p>Total_Downloads : {{total_downloads}}</p>
</div>

<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Artists</th>
        <th>Song title</th>
        <th>Downloads</th>
        <th>Rate</th>
        <th>Total</th>
        <th>Month</th>
        <th>Year</th>
        <th>Company</th>
      </tr>
    </thead>
    {% for month in months %}
    <tbody>
      <tr>
            <td><a href="{% url 'song_detail' slug=month.song %}">{{month.artist}}</a></td>
            <td>{{month.song}}</td>
            <td>{{month.downloads}}</td>
            <td>{{month.price}}</td>
            <td>{{month.total_amount}}</td>
            <td>{{month.month}}</td>
            <td>{{month.year|unlocalize }}</td>
            <td>{{month.company}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}